body {
	background-color: #141414;
	font-family: Tahoma;
	color: #FFFFFF;
}

.centered {
	text-align: center;
}

#errordiv { 
	padding: 8px 35px 3px 14px;
	height: 20px;
	width: 457px;
}

#main-content {
	height: 500px;
	width: 800px;
}